{% extends 'base.html.twig' %}

{% block body %}
<ul>
    <li><a href="{{ path('pwd_authenticate') }}">Login using password</a></li>
    <li><a href="{{ path('authenticate') }}">Login using U2F key</a></li>
</ul>
{% endblock %}