{% extends 'base.html.twig' %}

{% block body %}
<ul class="choice-list -two"
  ><li class="choice">
    <a class="link" href="{{ path('pwd_authenticate') }}">Login using password</a>
  </li
  ><li class="choice">
    <a class="link" href="{{ path('authenticate') }}">Login using U2F key</a>
  </li
></ul>
{% endblock %}