{% extends 'base.html.twig' %}

{%- block title -%}Login method{%- endblock -%}

{% block body %}
<ul class="choice-list -two"
  ><li class="choice">
    <a class="link" href="{{ path('login_pwd') }}">Login using password</a>
  </li
  ><li class="choice">
    <a class="link" href="{{ path('login_u2f') }}">Login using U2F key</a>
  </li
></ul>
{% endblock %}