{% extends 'base.html.twig' %}

{% block body %}
<p>Are you sure you want to remove this U2F key from your account?</p>

<p>In the following steps, you will be asked to confirm your identity.</p>

{{ form(form) }}
{% endblock %}