{% extends "base.html.twig" %}

{% block body %}
<p>Are you sure you want to log out?</p>
<form action="{{ path('logout') }}" method="post">
  <button type="submit">Yes</button>
</form>
{% endblock %}