{% extends 'base.html.twig' %}

{% block body %}
<ul class="item-list">
{% for u2f_key in u2f_keys %}
    <li class="item"><a class="link" href="{{ path('confirm_u2f_key_reset', {u2fKeySlug: u2f_key.u2fKeyName}) }}">Remove {{ u2f_key.u2fKeyName }}</a></li>
{% endfor %}
</ul>
{% endblock %}