{% extends 'base.html.twig' %}

{%- block title -%}Manage U2F keys{%- endblock -%}

{% block body %}
<ul class="item-list">
{% for u2f_key in u2f_keys %}
    <li class="item"><a class="link" href="{{ path('confirm_u2f_key_reset', {u2fKeySlug: u2f_key.u2fKeyName}) }}">Remove {{ u2f_key.u2fKeyName }}</a></li>
{% endfor %}
</ul>
<p><a href="{{ path('add_u2f_device') }}">Add a new U2F key</a></p>
{% endblock %}