{% extends 'base.html.twig' %}

{% block body %}
<p>You do not have sufficient U2F keys associated with your account.</p>
<p>Before being able to use the website again, you need to register a new U2F key.</p>
<p><a href="{{ path('register_u2f_key') }}">Click here to do so</a>.</p>
{% endblock %}