{% extends 'base.html.twig' %}

{% block body %}
<p>Amount to transfer: £500</p>
<p>Recipient: Louis</p>
<p>If you confirm the payment details are correct, please click "Submit".</p>
{{ form(form) }}
{% endblock %}