{% extends 'base.html.twig' %}

{%- block title -%}Confirm money transfer{%- endblock -%}

{% block body %}
<p>Amount to transfer: £500</p>
<p>Recipient: Louis</p>
<p>Do you want to transfer the money?</p>
{{ form(form) }}
{% endblock %}