{% extends 'base.html.twig' %}

{% block body %}
<p>Your key ({{ u2fKeySlug }}) was removed.</p>
<p>You may now have to register a new U2F key before being able to access the website again.</p>
{% endblock %}