$form-ln-height: 2rem;
$form-ft-size: 1.1rem;
$btn-background-color: #000;
$btn-disabled-color: #353535;
$btn-color: #fff;
$error-background-color: #ff8a8a;
$error-border-color: #690000;
$error-text-color: #690000;