$sm-border: 1px;
$md-border: 2px;
$bg-border: 0.5rem;
$sm-margin: 1rem;
$dark_txt_color: #fff;
$dark_hovered: #7a0000;
$margin-lg: 4rem;
$dk: #000000;
$big-text: 2.1rem;
$normal-text: 1.5rem;
$md-color: #7c7c7c;
$btn-font: "Trebuchet Ms", Helvetica, Verdana, Arial;
$font: "Trebuchet Ms", Helvetica, Verdana, Arial;
$sm-color: #f0f0f0;
$bg-color: #4e4e4e;
$sm-padding: 0.2rem;
$md-padding: 0.5rem;