###> symfony/framework-bundle ###
.env
/public/bundles/
/var/
/vendor/
###< symfony/framework-bundle ###
/examples/users/*
/examples/vendor/
/vendor/
/.vscode/
/node_modules/

###> symfony/phpunit-bridge ###
.phpunit
/phpunit.xml
###< symfony/phpunit-bridge ###
/.sass-cache
/public/*.min.css.map
/update_authentifier
/reinstall_authentifier
/.matthewslouismarie