.form-row {
  padding-bottom: $sm-margin;
  padding-top: $sm-margin;

  > .labelcontainer {
    display: inline-block;
    width: 20%;
    vertical-align: middle;
  }

  &.-long-label > .labelcontainer {
    width: 30%;
  }

  > .labelcontainer > .label {
    text-transform: uppercase;
    line-height: $form-ln-height;
    font-size: $form-ft-size;
    color: $bg-color;
  }

  > .fieldcontainer {
    display: inline-block;
    vertical-align: middle;    
    width: 80%;
  }

  &.-long-label > .fieldcontainer {
    width: 70%;
  }

  > .fieldcontainer > .field {
    color: $bg-color;    
    background-color: $sm-color;
    padding-left: 0;
    padding-right: 0;
    display: block;
    width: 100%;
    border: 0;
    font-size: $form-ft-size;
    line-height: $form-ln-height;
  }

  > .fieldcontainer > .field.-checkbox {
    width: auto;
  }

  > .buttoncontainer {
    text-align: right;    
  }

  > .buttoncontainer > .button {
    color: $btn-color;
    background-color: $btn-background-color;
    border-width: 0;
    display: inline-block;
    line-height: $form-ln-height;
    font-size: $form-ft-size;
    text-transform: uppercase;
    vertical-align: middle;
  }

  > .buttoncontainer > .button:disabled {
    color: #353535;
    cursor: not-allowed;
  }

  > .buttoncontainer > .message {
    display: inline-block;
    margin-bottom: 0;
    margin-top: 0;
    vertical-align: middle;
  }

  > .buttoncontainer > .image {
    display: inline-block;
    height: $form-ln-height;
    vertical-align: middle;
    padding-right: $md-padding;
  }
}