{% extends "base.html.twig" %}

{%- block title -%}Registration{%- endblock -%}

{% block body %}
{%- if (isMinLengthEnforced or specialChars or numbers or uppercaseLetters) -%}
<p>Please make sure your password:</p>
<ul>
  {%- if isMinLengthEnforced -%}<li>is longer than {{ minLength }} characters.</li>{%- endif -%}
  {%- if specialChars -%}<li>contains special characters.</li>{%- endif -%}
  {%- if numbers -%}<li>contains numbers.</li>{%- endif -%}
  {%- if uppercaseLetters -%}<li>contains uppercase letters.</li>{%- endif -%}
</ul>
{%- endif -%}
{{ form(form) }}
{% endblock %}