{% extends "base.html.twig" %}

{% block body %}
<p>Hello. To register, you will need two U2F keys.</p>
<a href="{{ path('mkps_first_key') }}">Register the master pair's first U2F key.</a>
{% endblock %}