{% extends 'base.html.twig' %}

{% block body %}
<ul>
    <li>
        <a href="{{ path('admin_registration' ) }}">Registration</a>
    </li>
    <li>
        <a href="{{ path('admin_security_strategy') }}">Security Strategy</a>
    </li>
</ul>
{% endblock %}