{% extends 'base.html.twig' %}

{%- block title -%}Security Score{%- endblock -%}

{%- block body -%}
{%- include "admin/_back_button.html.twig" -%}
{%- if isCurrentConfig -%}
<p>You are currently viewing the score of the security strategy of the website, but you can enter a custom one below.</p>
<p>It will only be used to determine a security score and won't affect your settings.</p>
{%- endif -%}
{%- if securityLevel == 'low' -%}
<p>
  <img alt="The security strategy is vulnerable." src="https://img.shields.io/badge/security-vulnerable-red.svg">
</p>
{%- elseif securityLevel == 'medium' -%}
<p>
  <img alt="The security strategy is medium." src="https://img.shields.io/badge/security-medium-orange.svg">
</p>
{%- elseif securityLevel == 'high' -%}
<p>
  <img alt="The security strategy is high." src="https://img.shields.io/badge/security-high-green.svg">
</p>
{%- endif -%}
The security score is: {{ securityScore }}.</p>
{{ form(form) }}
{%- endblock -%}