{% extends 'base.html.twig' %}

{%- block title -%}Security Score{%- endblock -%}

{%- block body -%}
{%- include "admin/_back_button.html.twig" -%}
<p>The security score is: {{ securityScore }}.</p>
{{ form(form) }}
{%- endblock -%}