{% extends 'base.html.twig' %}

{% block body %}
<p>We're sorry, but you took too long to activate your U2F key.</p>
<p><a href="{{ path('ic_u2f', {'sid': sid}) }}">Please try again by clicking here.</a></p>
{% endblock %}